@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
    <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.</p>
</div>

<h2>Entrees</h2>
<div class="menu-item">
    @foreach (BleakwindBuffet.Data.Entrees.Entree e in Model.entrees)
    {
        <div class="name">@e.Name</div>
    }
</div>

<h2>Sides</h2>
<div class="menu-item">
    <div class="name">Dragonborn Waffle Fries</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.DragonbornWaffleFries dbwf)
        {
            <div class="information">@dbwf.Size - $@dbwf.Price, @dbwf.Calories Calories </div>
        }
    }
    <div class="name">Fried Miraak</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.FriedMiraak fm)
        {
            <div class="information">@fm.Size - $@fm.Price, @fm.Calories Calories </div>
        }
    }
    <div class="name">Mad Otar Grits</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.MadOtarGrits mog)
        {
            <div class="information">@mog.Size - $@mog.Price, @mog.Calories Calories </div>
        }
    }
    <div class="name">Vokun Salad</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.VokunSalad vs)
        {
            <div class="information">@vs.Size - $@vs.Price, @vs.Calories Calories </div>
        }
    }
</div>
<h2>Drinks</h2>
<div>
    <div class="name">Aretino Apple Juice</div>
    @foreach (BleakwindBuffet.Data.Drinks.Drink d in Model.drinks)
    {
        if (d is BleakwindBuffet.Data.Drinks.AretinoAppleJuice aaj)
        {
            <div class="information">@aaj.Size - $@aaj.Price, @aaj.Calories Calories </div>
        }
    }
</div>


