@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    h1 {
        color: forestgreen;
    }
    .name {
        font-size: 24px;
        vertical-align: middle;
        text-align: center;
    }

    .information {
        font-size: 14px;
    }

    .menu-item {
        font-size: 24px;
        border: 1px solid gray;
    }
    .flavors {
        font-size: 14px;
    }
    .meal-type {
        vertical-align: middle;
        text-align: center;
    }
    .menu-item {
        vertical-align: middle;
        text-align: center;
    }
    .information {
        vertical-align: middle;
        text-align: center;
    }
    .combo-information {
        vertical-align: middle;
        text-align: center;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
    <p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.</p>
</div>

<h2 class="meal-type" style="color: lightseagreen">Entrees</h2>

@foreach (BleakwindBuffet.Data.Entrees.Entree e in Model.entrees)
{
    <div class="menu-item">
        <div class="name" style="color: mediumseagreen">@e.Name</div>
        <div class="information" style="color: mediumseagreen">$@e.Price, @e.Calories Calories </div>
    </div>
}

<h2 class="meal-type" style="color:darkorange">Sides</h2>
<div class="menu-item">
    <div class="name" style="color:darkorange">Dragonborn Waffle Fries</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.DragonbornWaffleFries dbwf)
        {
            <div class="information" style="color:darkorange">@dbwf.Size - $@dbwf.Price, @dbwf.Calories Calories </div>
        }
    }
</div>
<div class="menu-item">
    <div class="name" style="color:darkorange">Fried Miraak</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.FriedMiraak fm)
        {
            <div class="information" style="color:darkorange">@fm.Size - $@fm.Price, @fm.Calories Calories </div>
        }
    }
</div>
<div class="menu-item">
    <div class="name" style="color:darkorange">Mad Otar Grits</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.MadOtarGrits mog)
        {
            <div class="information" style="color:darkorange">@mog.Size - $@mog.Price, @mog.Calories Calories </div>
        }
    }
</div>
<div class="menu-item">
    <div class="name" style="color:darkorange">Vokun Salad</div>
    @foreach (BleakwindBuffet.Data.Sides.Side s in Model.sides)
    {
        if (s is BleakwindBuffet.Data.Sides.VokunSalad vs)
        {
            <div class="information" style="color:darkorange">@vs.Size - $@vs.Price, @vs.Calories Calories </div>
        }
    }
</div>
<h2 class="meal-type" style="color:lightskyblue">Drinks</h2>
<div class="menu-item">
    <div class="name" style="color:lightskyblue">Aretino Apple Juice</div>
    @foreach (BleakwindBuffet.Data.Drinks.Drink d in Model.drinks)
    {
        if (d is BleakwindBuffet.Data.Drinks.AretinoAppleJuice aaj)
        {
            <div class="information" style="color:lightskyblue">@aaj.Size - $@aaj.Price, @aaj.Calories Calories </div>
        }
    }
</div>
<div class="menu-item">
    <div class="name" style="color:lightskyblue">Candlehearth Coffee</div>
    @foreach (BleakwindBuffet.Data.Drinks.Drink d in Model.drinks)
    {
        if (d is BleakwindBuffet.Data.Drinks.CandlehearthCoffee cc)
        {
            <div class="information" style="color:lightskyblue">@cc.Size - $@cc.Price, @cc.Calories Calories </div>
        }
    }
</div>
<div class="menu-item">
    <div class="name" style="color:lightskyblue">Markarth Milk</div>
    @foreach (BleakwindBuffet.Data.Drinks.Drink d in Model.drinks)
    {
        if (d is BleakwindBuffet.Data.Drinks.MarkarthMilk mm)
        {
            <div class="information" style="color:lightskyblue">@mm.Size - $@mm.Price, @mm.Calories Calories </div>
        }
    }
</div>
<div class="menu-item">
    <div class="name" style="color:lightskyblue">Sailor Soda</div>
    @foreach (BleakwindBuffet.Data.Drinks.Drink d in Model.drinks)
    {
        if (d is BleakwindBuffet.Data.Drinks.SailorSoda ss)
        {
            <div class="information" style="color:lightskyblue">@ss.Size - $@ss.Price, @ss.Calories Calories </div>
        }
    }
    <div class="flavors" style="color:lightskyblue">Available Flavors: Blackberry, Cherry, Grapefruit, Lemon, Peach, and Watermelon.</div>
</div>
<div class="menu-item">
    <div class="name" style="color:lightskyblue">Warrior Water</div>
    @foreach (BleakwindBuffet.Data.Drinks.Drink d in Model.drinks)
    {
        if (d is BleakwindBuffet.Data.Drinks.WarriorWater ww)
        {
            <div class="information" style="color:lightskyblue">@ww.Size - $@ww.Price, @ww.Calories Calories </div>
        }
    }
</div>
<h2 class="meal-type">Combos</h2>
<div class="combo-information">Any combination of an entree, side, and drink will count as a combo, and will deduct $1 off your order!</div>


